.banner{
    background: url(https://images.pexels.com/photos/1444442/pexels-photo-1444442.jpeg?cs=srgb&dl=pexels-viresh-studio-1444442.jpg&fm=jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
} 
span{
    color: rgb(255, 38, 0);
}
.demo{
    color: rgb(255, 234, 0);
}
.banner h1{
        text-align: center;
        padding-top: 70px;
}
.column{
    float: left;
    width: 50%;
    text-align: justify;
}
.time{
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
    margin-top: 10px;
}
.point{
    float: left;
    width: 25%;
    margin: 0;
}
ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
}
li{
    color: white;
    margin: 0;
    padding: 12px 8px 9px;
    float: left;
    cursor: pointer;
    position: relative;
    left: 750px;
    text-decoration: none;
}
li a{
    color: white;
    width: 100%;
}
li a:hover{
       color: red;
}
@media(max-width: 600px)
{
li{
    color: yellow;
    margin: 0;
    padding: 12px 8px 9px;
    float: left;
    cursor: pointer;
    position: relative;
    left: 1000px;
    border-left: 1px solid black;
    text-decoration: none;
}
}
table,tr,th,td{
    border: 1px solid white;
    border-collapse: collapse;
    width: 50%;
    padding: 10px;
    text-align: justify;
    margin-left: 600px;
}
.allow{
    text-align: center;
    padding-top: 5px;
    font-size: 40px;
    margin-top: 10px;
}
th:hover{
    background-color: blue;
    color: white;
}
td:hover{
    background-color: red;
    color: white;
}
iframe{
    overflow: content box;
}
.value{
    border: 1px solid black;
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-image: linear-gradient(white,yellow);
    cursor: pointer;
    color: black;
    text-align: center;
}
h1{
    text-align: center;
    padding-top: 20px;
}
.one{
    text-align: left;
}
.sale{
    float: left;
    width: 50%;
}
.hide{
    display: none;
}
.social:hover + .hide{
    display: block;
    font-display: 5px;
}
.fixed{
    align-items: center;
    justify-content: center;
    float: left;
}